*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 110%;
}

.btn{
    display: block;
    padding: 2vh 2vw;
    font-weight: bold;
    margin: 1vh 1vw;
}

.container{
    display: flex;
}

.container.centered{
    justify-content: center;
}

.grid{
    border: 2px solid red;
    width: 350px; height: 350px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main{
    width: 90vw;
    margin: auto;
}

@media only screen and (min-width: 768px){
    .grid{
        width: 640px; height: 640px;
    }

    
    .main{
        width: 70vw;
        margin: auto;
    }
} 



.active{
    background-color: black;
    border: 0.1px solid white;
    border-radius: 0.2px;
}
